{% extends 'main/base.html' %}
{% load static %}

{% block title %}Reverence{% endblock title %}

{% block content %}
<h1 class="rev-head text-uppercase" id="reverence-title">Reverence Interlude - ALL</h1>
<div class="catalog d-flex">

    <form action="{% url 'main:catalog' %}" method="get" class="sidebar" id="filter-form">
        <h4 class="price-head">Price Range</h4>
        <div class="price-range">
            <input type="number" name="min_price" id="min_price" placeholder="Min price"
                   value="{{ request.GET.min_price }}">
            <input type="number" name="max_price" id="max_price" placeholder="Max price"
                   value="{{ request.GET.max_price }}">
        </div>

        <h4 class="category-head">Category</h4>
        {% for category in categories %}
        <div class="category-option">
            <input type="checkbox" name="category" id="category-{{ category.slug }}" value="{{ category.slug }}"
                 {% if category.slug in selected_categories %} checked {% endif %}>
            <label for="category-{{ category.slug }}" class="d-flex">
                <div class="category-name">{{ category.name }}</div>
                <div class="category-len">{{ category.get_item_count }}</div>
            </label>
        </div>
        {% endfor %}

        <h4 class="size-head">Size:</h4>
        {% for size in sizes %}
        <div class="category-option">
            <input type="checkbox" name="size" id="size-{{ size.name }}" value="{{ size.name }}"
                   {% if size.name in selected_sizes %}checked{% endif %}>
            <label for="size-{{ size.name }}">{{ size.name }}</label>
        </div>
        {% endfor %}

    </form>

    <div class="product-list">
        <div class="card-container d-flex flex-wrap">

            {% for item in clothing_items %}
            <div class="card">
                {% if item.image %}
                <img src="{{ item.image.url }}" alt="{{ item.image }}" class="product-image">
                {% endif %}
                <div class="card-info">
                    <h5>{{ item.name }}</h5>
                    <p>${{ item.get_price_with_discount }}</p>
                </div>
            </div>
            {% empty %}
            <p>There is nothing.</p>
            {% endfor %}

        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const checkboxes = document.querySelectorAll('.category-option input[type="checkbox"]');
        const form = document.getElementById('filter-form');

        checkboxes.forEach(checkbox => {
            checkbox.addEventListener('change', function () {
                applyFilters(); // Вызываем applyFilters при изменении checkbox
            });
        });

        function applyFilters() {
            form.submit();  // Отправляем форму
        }
    });
</script>
{% endblock content %}
